// Background colors
$bg-white: #ffffff;
$bg-gray: #f6f6f6;
$bg-light-blue: #568ea6;
$bg-dark-blue: #305f72;

// Text colors
$text-white: #ffffff;
$text-purple: #786fa6;
$text-light-blue: #568ea6;

.text-light-blue {
  color: $text-light-blue;
}
